.wrapper{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.wrapper button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .wrapper{
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    
    .wrapper button{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.button{
    border: none;
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
}

.buttonGray{
    background-color: #f5f5f5;
    border: 1px solid #abababc9;
    color: #747474c9;
}

.activeButton{
    border: 1px solid #1890ff;
    background-color: #fff;
    color: #1890ff;
    cursor: pointer;
}

.buttonNumber{
    border: none;
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
}

.icons{
    height: 20px;
    width: 20px;
}